/*-------------------------------------------*/
/* TYPOGRAPHY */
/*-------------------------------------------*/

@font-face {
    font-family: 'Canela';
    src: url('/assets/fonts/Canela-Regular.woff') format('woff'),
      url('/assets/fonts/Canela-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('/assets/fonts/apercu-regular.woff') format('woff'),
      url('/assets/fonts/apercu-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    color: #000;
    background-color: #F6F3F1;
    font-family: 'Canela';
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: 'Canela';
    text-rendering: optimizeLegibility;
    text-decoration: none;
    font-weight: normal;
}

h1 {
    font-size: 390%;
    line-height: 125%;
    margin-top: 10px;
}

h6 {
    font-size: 70%;
}

/*-------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------------*/

.row {
    max-width: 1800px;
    margin: 0 auto;
}
  
section {
    padding: 100px 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.section-text-left {
    
    transform: rotate(-90deg);
    position: absolute;
    top: 55vw;
    left: -7vw;
}

.section-text-right {

    transform: rotate(90deg);
    position: absolute;
    top: 55vw;
    right: -7vw;
}

.text-center {
    text-align: center!important;
}

/*-------------------------------------------*/
/* HEADER */
/*-------------------------------------------*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    max-width: 1800px;
    display: flex;
    font-family: 'Apercu';
    font-size: 80%;

}

.main-nav li {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 58px;
    text-decoration: none;
}

.main-nav li a {
    text-decoration: none;
    color: #000;
}

.main-nav li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.main-nav li:hover::after {
    width: 100%;
}

.navbar-logo {
    margin-left: 50px;
    margin-top: 50px;
    width: 5%;
}

.intro {
    display: block;
    color: #d8b4a0;
    font-size: 120%;
    font-family: 'Apercu';

}

.hero-section {
    padding: 100px;
}

/*-------------------------------------------*/
/* MEDIA QUERIES */
/*-------------------------------------------*/

/* @media (min-width: 478px) {

    .hero-section {
        padding: 20px;
    }

    .hero-section h1 {
        font-size: 180%;
        line-height: 140%;
    }

    .intro {
        font-size: 100%;
    }

    .main-nav {
        margin-bottom: 50px;
    }

}   */

@media (min-width: 600px) {

    .hero-section h1 {
        font-size: 290%;
        line-height: 140%;
    }

}  

@media (min-width: 767px) {

    .hero-section h1 {
        font-size: 360%;
        line-height: 130%;
    }
} 

@media (min-width: 1200px) {

    .hero-section h1 {
        font-size: 390%;
        line-height: 130%;
    }
} 